.afArrayFieldContent {
  position: relative;
  padding-top: 0 !important;
}
.afArrayAddBtnContainer {
  position: sticky;
  margin-right: -20px;
  right: -20px;
  top: 60px;
  padding-top: 20px;
  height: 0;
}
.afArrayAddBtnContainer > a {
  text-align: center;
  margin-bottom: -40px;
}
.autoform-array-item {
  display: flex;
}
.autoform-array-item > .array-item-body {
  flex: 1;
}
.autoform-array-item > * {
  margin: 0.5em;
}
.noCollapsible .afArrayItemRemoveButton {
  margin-top: 25px;
}
.afArrayFieldCardMode > .afArrayAddBtnContainer a {
  margin-right: -4px;
}
.afArrayFieldCardMode > .afArrayAddBtnContainer {
  z-index: 3;
}
.afArrayFieldCardMode > .afArrayFieldContent > .row > .autoform-array-item {
  padding: 0;
}
