<template name="afFormGroup_materialize">
  <div class="{{#if addInputField}}input-field{{/if}} col {{colSize this}} afFieldContainer-{{this.name}}">
    {{#if this.afFieldInputAtts.icon}}
      {{> afIcon_materialize this.afFieldInputAtts}}
    {{/if}}
    {{#if skipLabel}}
      {{> afFieldInput this.afFieldInputAtts}}
    {{else}}
    {{> afFieldInput this.afFieldInputAtts}}
      {{#if needsLabel}}
        {{>afLabel_materialize this}}
      {{/if}}
    {{/if}}
    {{# if getHelp}}
      {{>afHelp_materialize (getHelp)}}
    {{/if}}
    {{#if afFieldIsInvalid name=this.name}}
      <div class="red-text">
        <i class="mdi-alert-warning"></i> {{{afFieldMessage name=this.name}}}
      </div>
    {{/if}}
  </div>
</template>
