@import "{}/node_modules/materialize-css/sass/components/_color-variables.scss";
@import "{}/node_modules/materialize-css/sass/components/_variables.scss";
// @import "{}/node_modules/materialize-css/sass/components/_color-classes.scss";


@media #{$small-and-down} {

  .auto-complete .chip {
    margin-top: 5px;
    margin-right: 5px;
  }

  .auto-complete li {
    padding: 13px;
  }

  .auto-complete .auto-complete-dropdown .ac-hover {
    background: #eee;
  }
}

@media #{$medium-and-up} {

  .auto-complete {
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
  }

  .auto-complete .chip {
    -ms-flex: auto;
    flex: auto;
    margin-top: 5px;
    margin-right: 5px;
  }

  // .auto-complete .chip:last-child {
  //   margin-right: 5px;
  // }

  .auto-complete li {
    padding: 13px;
  }

  .auto-complete .auto-complete-dropdown .ac-hover {
    background: #eee;
  }

  .auto-complete .auto-complete-input-wrapper {
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    // padding-top: 0.6rem;
  }
}

.collection-item .primary-content .row {
  margin-bottom: 0px;
}

// daggable collections
.draggable-source {
  background-color: $secondary-color;
}

.draggable-mirror {
  z-index: 99999;
  // position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: $secondary-color;
  background-color: white;
}

.collection .draggable--over {
  border-width: 2px;
  border-style: dashed;
  border-color: $secondary-color;
}
