<template name="quickForm_materialize">
  {{#autoForm this.qfAutoFormContext}}
    {{#each group in groupped (afFieldNames) this}}
      <div class="{{group.name}}-group row">
        {{#if group.title}}
          <h5>{{group.title}}</h5>
        {{/if}}
        {{#if group.help}}
          <div class="col s12">{{group.help}}</div>
        {{/if}}
        {{#each group.fields}}
          {{> afQuickField name=this.name options=afOptionsFromSchema}}
        {{/each}}
      </div>
    {{/each}}
    {{#if qfShouldRenderButton}}
      <div class="row">
        <div class="col s12">
          <button type="submit" {{submitButtonAtts}}>
            {{#with ../atts.buttonContent}}
              {{this}}
            {{else}}
              Submit
            {{/with}}
          </button>
        </div>
      </div>
    {{/if}}
  {{/autoForm}}
</template>
