<template name="quickForm_materialize">
  {{#autoForm this.qfAutoFormContext}}
    {{#if (tabbed afFieldNames)}}
      <ul class="tabs afTabHeader">
        {{#each tab in (tabbed afFieldNames)}}
          <li class="tab"><a href="#tab-{{tab.name}}">{{tab.title}}</a></li>
        {{/each}}
      </ul>

      {{#each tab in (tabbed afFieldNames)}}
        <div id="tab-{{tab.name}}" class="afTabContent">
          {{#each group in tab.groups}}
            <div class="{{group.name}}-group row">
              {{#if group.title}}
                <h5 class="group-title">
                  {{#if group.icon}}
                    {{> afIcon_materialize icon=group.icon iconType=group.iconType}}
                  {{/if}}
                  {{group.title}}
                </h5>
              {{/if}}
              {{#if group.help}}
                <div class="col s12 group-help">{{group.help}}</div>
              {{/if}}
              <div class="group-fields {{group.gclass}}">
                {{#each group.fields}}
                  {{> afQuickField name=this.name options=afOptionsFromSchema}}
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
    {{else}}
      {{#each group in groupped (afFieldNames) this}}
        <div class="{{group.name}}-group row">
          {{#if group.title}}
            <h5 class="group-title">
              {{#if group.icon}}
                {{> afIcon_materialize icon=group.icon iconType=group.iconType}}
              {{/if}}
              {{group.title}}
            </h5>
          {{/if}}
          {{#if group.help}}
            <div class="col s12 group-help">{{group.help}}</div>
          {{/if}}
          <div class="group-fields {{group.gclass}}">
            {{#each group.fields}}
              {{> afQuickField name=this.name options=afOptionsFromSchema}}
            {{/each}}
          </div>
        </div>
      {{/each}}
    {{/if}}
    {{#if qfShouldRenderButton}}
      <div class="row">
        <div class="col s12">
          {{#if this.atts.saveButton}}
            <button type="submit" class="btn waves-effect waves-light afSaveButton">
              {{this.atts.saveButton}}
            </button>
          {{/if}}
          <button type="submit" {{submitButtonAtts}}>
            {{#with ../atts.buttonContent}}
              {{this}}
    {{else}}
      Submit
            {{/with}}
          </button>
          {{#if this.atts.cancelButton}}
            <button type="submit" class="btn waves-effect waves-light afCancelButton">
              {{this.atts.cancelButton}}
            </button>
          {{/if}}
          {{#if this.atts.removeButton}}
            <button type="submit" class="btn red waves-effect waves-light afRemoveButton">
              {{this.atts.removeButton}}
            </button>
          {{/if}}
          {{#each this.atts.otherButtons}}
            <button type="submit" class="btn waves-effect waves-light {{this.classes}}">
              {{this.contents}}
            </button>
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/autoForm}}
</template>