<template name="quickForm_materialize">
  {{#autoForm this.qfAutoFormContext}}
    {{#each group in groupped (afFieldNames) this}}
      <div class="{{group.name}}-group row">
        {{#if group.title}}
          <h5 class="group-title">{{group.title}}</h5>
        {{/if}}
        {{#if group.help}}
          <div class="col s12 group-help">{{group.help}}</div>
        {{/if}}
        <div class="group-fields {{group.gclass}}">
          {{#each group.fields}}
            {{> afQuickField name=this.name options=afOptionsFromSchema}}
          {{/each}}
        </div>
      </div>
    {{/each}}
    {{#if qfShouldRenderButton}}
      <div class="row">
        <div class="col s12">
          {{#if this.atts.saveButton}}
            <button type="submit" id="afSaveButton" class="btn waves-effect waves-light">
              {{this.atts.saveButton}}
            </button>
          {{/if}}
          <button type="submit" id="afSubmitButton" {{submitButtonAtts}}>
            {{#with ../atts.buttonContent}}
              {{this}}
    {{else}}
      Submit
            {{/with}}
          </button>
          {{#if this.atts.cancelButton}}
            <button type="submit" id="afCancelButton" class="btn waves-effect waves-light">
              {{this.atts.cancelButton}}
            </button>
          {{/if}}
          {{#if this.atts.removeButton}}
            <button type="submit" id="afRemoveButton" class="btn red waves-effect waves-light">
              {{this.atts.removeButton}}
            </button>
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/autoForm}}
</template>