<template name="afObjectField_materialize">
  <div class="col {{colSize this.name}} afFieldContainer-{{safeClass this.name}}">
    {{#if this.collapsibleGroups}}
      {{#unless this.noTitle}}
        {{#with afFieldLabelText name=this.name}}
          <div class="object-title" style="margin-bottom: 2em">
            <h5>{{this}}</h5>
          </div>
        {{/with}}
      {{/unless}}
      {{#if afFieldIsInvalid name=this.name}}
        <div class="red-text">{{{afFieldMessage name=this.name}}}</div>
      {{/if}}
      <ul class="collapsible expandable">
        {{#each group in groupped (afFieldNames name=this.name) this}}
          <li class="{{group.name}}-group">
            {{#if group.title}}
              <div class="group-title collapsible-header">
                {{#if group.icon}}
                  {{> afIcon_materialize icon=group.icon iconType=group.iconType}}
                {{/if}}
                {{group.title}}
              </div>
            {{/if}}
            <div class="collapsible-body">
              {{#if group.help}}
                <div class="row group-help">
                  {{#if group.helpIsHTML}}
                    {{{group.help}}}
                  {{else}}
                    {{group.help}}
                  {{/if}}
                </div>
              {{/if}}
              <div class="group-fields row {{group.gclass}}">
                {{#each group.fields}}
                  {{> afQuickField name=this.name options=afOptionsFromSchema}}
                {{/each}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
      <script>
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
          accordion: false
        });
      </script>
    {{else}}
      {{#if this.noCard}}
        <div class="autoform-object-field" name="{{this.name}}">
          {{#unless this.noTitle}}
            {{#with afFieldLabelText name=this.name}}
              <div class="title" style="margin-bottom: 2em">
                {{this}}
              </div>
            {{/with}}
          {{/unless}}
          {{#if afFieldIsInvalid name=this.name}}
            <div class="red-text">{{{afFieldMessage name=this.name}}}</div>
          {{/if}}
          {{#each group in groupped (afFieldNames name=this.name) this}}
            <div class="{{group.name}}-group row">
              {{#if group.title}}
                <h5 class="group-title">
                  {{#if group.icon}}
                    {{> afIcon_materialize icon=group.icon iconType=group.iconType}}
                  {{/if}}
                  {{group.title}}
                </h5>
              {{/if}}
              {{#if group.help}}
                <div class="col s12 group-help">
                  {{#if group.helpIsHTML}}
                    {{{group.help}}}
                  {{else}}
                    {{group.help}}
                  {{/if}}
                </div>
              {{/if}}
              <div class="group-fields {{group.gclass}}">
                {{#each group.fields}}
                  {{> afQuickField name=this.name options=afOptionsFromSchema}}
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <div class="card-panel autoform-object-field" name="{{this.name}}">
          <div class="card-content">
            {{#with afFieldLabelText name=this.name}}
              <div class="card-title" style="margin-bottom: 2em">
                {{this}}
              </div>
            {{/with}}
            {{#if afFieldIsInvalid name=this.name}}
              <div class="red-text">{{{afFieldMessage name=this.name}}}</div>
            {{/if}}
            {{#each group in groupped (afFieldNames name=this.name) this}}
              <div class="{{group.name}}-group row">
                {{#if group.title}}
                  <h5 class="group-title">
                    {{#if group.icon}}
                      {{> afIcon_materialize icon=group.icon iconType=group.iconType}}
                    {{/if}}
                    {{group.title}}
                  </h5>
                {{/if}}
                {{#if group.help}}
                  <div class="col s12 group-help">
                    {{#if group.helpIsHTML}}
                      {{{group.help}}}
                    {{else}}
                      {{group.help}}
                    {{/if}}
                  </div>
                {{/if}}
                <div class="group-fields {{group.gclass}}">
                  {{#each group.fields}}
                    {{> afQuickField name=this.name options=afOptionsFromSchema}}
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</template>