@import "/@fortawesome/fontawesome-free/css/all.min.css";

.fa.prefix, .fab.prefix, .fad.prefix,
.fal.prefix, .far.prefix, .fas.prefix {
  font-size: 1.7rem;
  padding-top: .3rem;
  box-sizing: border-box;
}